<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>149369213365-ohfthkas3gu12aqlult1l936q0e386tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149369213365-ohfthkas3gu12aqlult1l936q0e386tf</string>
	<key>API_KEY</key>
	<string>AIzaSyD0WoqvBINBmlhUFfBK_AdvivLewXdptRk</string>
	<key>GCM_SENDER_ID</key>
	<string>149369213365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clarion.FirebaseApplication</string>
	<key>PROJECT_ID</key>
	<string>fir-application-fd3e2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-application-fd3e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149369213365:ios:35b3202a1a1658f3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-application-fd3e2.firebaseio.com</string>
</dict>
</plist>